/* Global */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Header */
header {
  display: flex;
  align-items: center;
  height: 59px;
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 768px;
  min-width: 372px;
  text-align: center;
}
.header__logo span {
  height: 22px;
  margin: 1px;
}
.header__logo img {
  width: 24px;
  height: 12px;
}
.header__logo:hover .save {
  filter: invert(78%) sepia(49%) saturate(531%) hue-rotate(347deg)
    brightness(102%) contrast(101%);
  transform: rotate(90deg);
}
.header__logo:hover .project {
  filter: invert(42%) sepia(57%) saturate(3855%) hue-rotate(203deg)
    brightness(101%) contrast(92%);
  transform: rotate(90deg);
}
.header__side {
  flex-grow: 1;
  max-width: 184px;
  padding-left: 18px;
  height: 22px;
}
.header__side:first-of-type {
  min-width: 190px;
}

@media screen and (max-width: 600px) {
  .header__side {
    display: none;
  }
}

/* Article */
article {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 768px;
  padding: 0 7px;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

article li {
  border-bottom: 2px solid black;
  list-style: none;
  width: 100%;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

article li:hover .article__title:not(.blind) {
  color: #ffd15b;
}

article li:hover .article__writer:not(.blind) {
  color: #3381f5;
}

article li:last-child {
  border-bottom: none;
}

.article__title {
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
}
.article__writer {
  margin-left: auto;
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
}

.blind {
  color: rgba(0, 0, 0, 0.3);
}

.article__page h1 {
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  padding: 57px 0 10px;
  margin: 0;
}

.article__page span {
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 162%;
  text-align: center;
}

.article__page section:first-of-type {
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 165%;
  text-align: justify;
  text-indent: 24px;
  padding: 48px 18px 60px;
}

.article__page span:last-of-type {
  width: 384px;
  text-align: left;
  margin-left: auto;
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 162%;
}

.article__page section:last-of-type {
  width: 384px;
  margin-left: auto;
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 162%;
  padding: 8px 18px 54px 0;
}

.article__divider {
  height: 2px;
  max-width: 747px;
  background-color: black;
  margin-bottom: 38px;
}

@media screen and (max-width: 600px) {
  article {
    border-left: none;
    border-right: none;
  }
  .article__page section:first-of-type {
    padding: 38px 11px 60px;
  }

  .article__page section:last-of-type,
  .article__page span:last-of-type {
    width: 100%;
    padding-left: 11px;
  }
}

/* Divider */
.divider--wrapper {
  display: flex;
  align-items: center;
}
.divider--side {
  height: 2px;
  background-color: black;
  flex-grow: 1;
}
.divider--center {
  height: 2px;
  min-width: 734px;
  background-color: black;
}

.divider--img {
  height: 12px;
  width: 24px;
  background-color: white;
  margin: 4px;
}

.divider--img:last-of-type {
  transform: rotate(90deg);
}

.divider--side--mb {
  width: 100%;
  height: 2px;
  background-color: black;
}
.divider--img--mb {
  width: 22px;
  height: 11px;
}

@media screen and (max-width: 800px) and (min-width: 600px) {
  .divider--center {
    min-width: 95%;
  }
}

@media screen and (min-width: 601px) {
  .divider--side--mb,
  .divider--img--mb {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .divider__side,
  .divider--center,
  .divider--img {
    display: none;
  }
  .divider--side--mb,
  .divider--img--mb {
    display: block;
  }
}

/* Footer */
footer {
  margin: 0 auto;
  max-width: 768px;
  display: flex;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

footer section {
  display: flex;
  flex: 1 1 0px;
  flex-direction: column;
  padding: 7px;
}

.introduce {
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 165%;
  text-align: justify;
  text-indent: 24px;
}

.introduce p {
  padding: 3px;
}

.credit {
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 165%;
  text-align: justify;
}

.credit p {
  padding: 3px;
}

.section__label {
  height: 61px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
}

.footer__back {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 162%;
  padding: 31px 0;
}

@media screen and (max-width: 600px) {
  footer {
    flex-direction: column;
    border-left: none;
    border-right: none;
  }
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
