html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
header {
  display: flex;
}
article {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 768px;
  padding: 7px;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

article li {
  border-bottom: 2px solid black;
  list-style: none;
}
li {
  display: flex;
}

article li:last-child {
  border-bottom: none;
}

.blind {
  color: rgba(0, 0, 0, 0.3);
}
.divider--wrapper {
  display: flex;
  align-items: center;
}
.divider--side {
  height: 2px;
  background-color: black;
  flex-grow: 1;
}
.divider--center {
  height: 2px;
  width: 742px;
  background-color: black;
}
footer {
  margin: 0 auto;
  width: 768px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  display: flex;
}

footer section {
  display: flex;
  flex: 1 1 0px;
  flex-direction: column;
  padding: 7px;
}

.introduce {
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 165%;
  text-align: justify;
  text-indent: 24px;
}

.credit {
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 165%;
  text-align: justify;
}

.section__label {
  border-bottom: 2px solid black;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
